aiobotocore==2.11.2
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
ansible==8.5.0
ansible-core==2.15.5
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
botocore==1.34.34
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bxpizxa3c/croot/bottleneck_1707864819812/work
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chocolate==0.0.2
colorama==0.4.6
cryptography==42.0.5
csvwlib==0.3.2
decorator==5.1.1
duckdb==0.7.1
elementpath==4.3.0
exceptiongroup==1.2.0
executing==2.0.1
falcon==3.1.3
frozenlist==1.4.1
fsspec==2024.2.0
gcsfs==2024.2.0
google-api-core==2.17.1
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
html5lib==1.1
icecream==2.1.3
idna==3.6
importlib-metadata==7.0.1
ipython==8.22.1
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
JPype1==1.4.0
jsonpath-python==1.0.6
jsonpickle==3.0.3
kglab==0.6.6
language-tags==1.2.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
morph_kgc==2.6.4
multidict==6.0.5
networkx==3.2.1
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45yefq0kt6/croot/numexpr_1696515289183/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cfbbnu3tzv/croot/numpy_and_numpy_base_1704311724719/work/dist/numpy-1.26.3-cp310-cp310-macosx_11_0_arm64.whl#sha256=ccbf655215ec644fb09de935330d2602e8101b485f43bc98fefdd9ada37b9193
oauthlib==3.2.2
owlrl==6.0.2
oxrdflib==0.3.6
packaging==23.2
pandas @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82r7p4atwy/croot/pandas_1702318000240/work/dist/pandas-2.1.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=c8b7db467b7e229a08d8c41ceef1d279ae19ed4c6deb6d4dc494a3a64d00cddf
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
prettytable==3.10.0
prompt-toolkit==3.0.43
protobuf==4.25.3
pslpython==2.4.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
pynvml==11.5.0
pyoxigraph==0.3.22
pyparsing==3.1.1
pyshacl==0.25.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6btwyyj8a1/croot/pytz_1695131592184/work
pyvis==0.3.2
PyYAML==6.0.1
rdflib==7.0.0
rdflib-jsonld==0.6.2
requests==2.31.0
requests-oauthlib==1.3.1
resolvelib==1.0.1
rsa==4.9
ruamel.yaml==0.18.0
ruamel.yaml.clib==0.2.8
s3fs==2024.2.0
scikit-learn==1.1.3
scipy==1.12.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sql_metadata==2.10.0
SQLAlchemy==2.0.27
sqlparse==0.4.4
stack-data==0.6.3
statsmodels==0.14.1
threadpoolctl==3.3.0
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.10.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
uritemplate==4.1.1
urllib3==2.0.7
urlpath==1.2.0
wcwidth==0.2.13
webencodings==0.5.1
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
